html,
body {
  padding: 0px;
  margin: 0px;
}

main.main {
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  font-size: 1.2em;
  flex-wrap: wrap;
  background: rgb(33, 147, 176);
  background-color: linear-gradient(
    180deg,
    rgba(33, 147, 176, 1) 0%,
    rgba(109, 213, 237, 1) 100%
  );
}

#editor {
  padding: 20px;
  width: 90%;
  height: 100%;
  font-size: 1.1em;
  margin-right: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.781);
}

#preview {
  padding: 0px 20px;
  height: 100%;
  width: 90%;
  overflow: scroll;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.781);
}

#preview img {
  max-width: 100%;
}

.column {
  text-align: center;
  flex: 500px;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
